<ion-view view-title="Bouncer">
	<h2>Vector Tiles</h2>

	<esri-map-view map="vm.map" 
	    view-options="{
	        zoom: 10,
	        center: [-100.33, 25.69]
	    }">
	</esri-map-view>
</ion-view>

<!--
.state('tabs.home', {
  url: "/home",
  views: {
    'home-tab': {
      templateUrl: "templates/home.html",
      controller: 'HomeTabCtrl'
    }
  }
})

<ion-tab title="Home" icon="ion-home" href="#/tab/home">
  <ion-nav-view name="home-tab"></ion-nav-view>
</ion-tab>

<script id="templates/home.html" type="text/ng-template">
  <ion-view view-title="Home">
    <ion-content class="padding">
      <p>
        <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
      </p>
    </ion-content>
  </ion-view>
</script>
-->