<!-- <ion-view view-title="Bouncer">
	<ion-content class="padding">
		<h2>Vector Tiles</h2>

		<esri-map-view map="vm.map" 
		    view-options="{
		        zoom: 10,
		        center: [-100.33, 25.69]
		    }">
		</esri-map-view> -->
    
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

      <ion-tab title="Bouncer" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/bouncer/bouncer-btab">
        <ion-nav-view name="bouncer-btab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Clubber" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/bouncer/bouncer-ctab">
        <ion-nav-view name="bouncer-ctab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>    
	<!-- </ion-content>
</ion-view> -->

<!--
.state('tabs.home', {
  url: "/home",
  views: {
    'home-tab': {
      templateUrl: "templates/home.html",
      controller: 'HomeTabCtrl'
    }
  }
})

<ion-tab title="Home" icon="ion-home" href="#/tab/home">
  <ion-nav-view name="home-tab"></ion-nav-view>
</ion-tab>

<script id="templates/home.html" type="text/ng-template">
  <ion-view view-title="Home">
    <ion-content class="padding">
      <p>
        <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
      </p>
    </ion-content>
  </ion-view>
</script>
-->